common --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --android_platforms=//rules/android/platform:x86_64,//rules/android/platform:arm64-v8a
build --java_runtime_version=21
build --tool_java_runtime_version=21
try-import %workspace%/user.bazelrc
